@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  font: 16px / 1 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
}
h1 {
  color: rgb(165, 93, 42);
}
h3 {
  margin-top: -10px;
}
h2 {
  color: rgb(165, 93, 42);
}
h4 {
  margin-top: -10px;
  margin-bottom: 4px;
}

ul {
  list-style: none;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: -30px;
}

.text-color-rust {
  color: rgb(165, 93, 42);
  font-weight: 1000;
}
.ml-mt {
  margin-left: 10px;
  margin-top: 4px;
}
section {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  margin-top: -10px;
}

nav ul {
  margin-top: -14px;
}
.sticky-header {
  position: sticky;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(165, 93, 42);
}
a:visited {
  text-decoration: none;
  color: rgb(165, 93, 42);
}
.a-disabled {
  pointer-events: none;
  color: black;
}
.gray {
  color: rgb(168, 168, 168);
}
